$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/

$lightPink: #F20574;
$darkPink: #730240;
$grey: #141414;
$lightGrey: #989898;

/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

@import url('fonts/Exo/Exo.css');

* {
    box-sizing: border-box;
}
/* site wide styles */

  @keyframes wiggle {
    10% {transform: rotate(1deg);}
    30% {transform: rotate(3deg);}
    40% {transform: rotate(-1deg);}
    60% {transform: rotate(-3deg) ;}
    75% {transform: rotate(1deg) ;}
    95% {transform: rotate(-.5deg) ;}
    100% {transform: rotate(0deg) ;}
  }


html {
    font-family: 'Exo', "Trebuchet MS", sans-serif;
    color:white;
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
    background: #000000;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    background: #00000094;
    nav {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 15px;
        a {
            margin-top: 3px;
            color: white;
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 40px;
        }
        a:hover {
            background: $lightPink;
            animation: wiggle .3s;
        }
    }
    
}

main {
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h1, h2 {
    font-family: 'Teko', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    //color: #ffffff;
    font-size: 35px;
}

#two, #three, #four, #five {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 1000px;
}
#one {
    height: 100vh; 
    #bannerWrapper {
        h1 {
            text-align: left;
            padding: 14% 5%;
            margin: 0;
            color: $lightGrey;
            .ml12 {
                font-weight: 200;
                font-size: 3em;
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
              
              .ml12 .letter {
                line-height: 1em;
            }
        }
    }  
}

/* about section */
#two {
    background: $grey;
    padding-top: 90px;
    #aboutWrapper {
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        width: 98%;
        padding: 0 20px;
        margin: auto;
        gap: 10%;
        #me {
            width: 30%;
        }
        #about{
            width: 50%;
            p {
                //margin: 0;
                line-height: 2em;
                text-align: left;
                text-indent: 50px;
                font-size: 22px;
            }
        }
    }
}

/* skills section */
#three {
    padding: 90px 0;
    #skillsWrapper {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .skill{
            padding: 35px;
            border-radius: 100%;
            background: $grey;
            img {
                width: 100px;
            }
        }
    }
}

/* portfolio section */
#four {
    padding: 90px 0;
    background: $grey;
    #webExamples {
        width: 85%;
        display: flex;
        flex-flow: column;
        gap: 50px;
        margin: auto;
        padding-bottom: 90px;
        @include md { // 768px
            flex-flow: row;
            width: 90%;
            padding: 2%;
            border-radius: 50px;
        }
        a {
            margin: auto;
            display: block;
            width: 100%; 
            img {
                width: 100%;
            }
        }
        a:hover {
            transform: scale(1.1);
            transition: all .4s ease-out;
        }
    }
}

/* contact section */
#five {
    padding: 90px 0;
    #contactWrapper {
        form {
            border: $grey 2px solid;
            border-radius: 30px;
            width: 50%;
            margin: auto;
            padding: 20px 0;
            #input {
                input, textarea {
                    color: white;
                    background: $grey;
                    border-style: none;
                    border-radius: 15px;
                    font-size: 20px;
                    padding: 10px;
                    margin: 5px 0 30px 0;
                    resize: none;
                }
            }
            #buttonWrapper {
                display: flex;
                justify-content: center;
                button {
                    background: $grey;
                    color: white;
                    border: none;
                    padding: 10px 16px;
                    border-radius: 40px;
                    font-size: 20px;
                }
                button:hover {
                    background: $lightPink;
                    animation: wiggle .3s;
                }
            }
        }
    }
}

footer {
    padding: 10px;
    .linkedin:hover, .github:hover, .email:hover  {
        animation: wiggle .3s;
    }
    a {
        transform: scale(1);
        transition: all .1s ease-in;
        display: inline-block;
        margin-left: 25px;
        img {
            height: 40px;
        }
    }
    a:hover {
        transform: scale(1.1);
    }
    a:active { 
        transform: scale(1); 
    } 
}

:root {
    --strokeLength: x;
}
.path {
    stroke-dasharray: var(--strokeLength);
    stroke-dashoffset: var(--strokeLength);
    animation: dash 2s ease-in-out infinite alternate;
}
  
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes fade-in { /* scroll fade animation */
    from {opacity: 0;}
    to {opacity: 1;}
}