$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/

$lightPink: #F20574;
$darkPink: #730240;
$lightTeal: #05F2F2;
$darkTeal: #037F8C;
$boxColor: #170B265d;

/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

@import url('fonts/Exo/Exo.css');

* {
    box-sizing: border-box;
}
/* site wide styles */
@keyframes fWiggle {
    10% {transform: rotate(2deg);}
    30% {transform: rotate(5deg);}
    40% {transform: rotate(-2deg);}
    60% {transform: rotate(-5deg) ;}
    75% {transform: rotate(2deg) ;}
    95% {transform: rotate(-1deg) ;}
    100% {transform: rotate(0deg) ;}
  }

  @keyframes wiggle {
    10% {transform: rotate(3deg);}
    30% {transform: rotate(7deg);}
    40% {transform: rotate(-3deg);}
    60% {transform: rotate(-7deg) ;}
    75% {transform: rotate(3deg) ;}
    95% {transform: rotate(-2deg) ;}
    100% {transform: rotate(0deg) ;}
  }


html {
    font-family: 'Exo', "Trebuchet MS", sans-serif;
    color:#D7C7D9;
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
}

main {
    background-image: url(../image/BackgroundMobile.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    @include xl { // 1200px
        background-image: url(../image/Background.webp);
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

header, footer {
    background: #170B26;
    padding: 15px;
}

nav {
    display: flex;
    align-items: flex-end;
    flex-flow: row;
    justify-content: flex-end;
    margin-right: 15px;
    a {
        color: #ededed;
        text-decoration: none;
        padding: 10px 16px;
        border-radius: 40px;
    }
    a:hover, #submit:hover {
        background: $lightPink;
        animation: wiggle .3s;
    }
    a:active, #projectExamples a:active, #submit:active {
        background: $darkPink;
        transform: scale(0.85);
    }
}

main {
    padding: 80px 0;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', Arial, sans-serif;
    font-weight: 550;
    font-style: normal;
    color: #ededed;
    text-shadow: 4px 3px 5px #170B26;
    font-size: 40px;
}
#one {
    height: 100vh;   
}

#bannerWrapper {
    h1 {
        text-align: left;
        padding: 14% 5%;
        margin: 0;
        .ml12 {
            font-weight: 200;
            font-size: 3em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
          
          .ml12 .letter {
            line-height: 1em;
        }
    }
}

#two, #three {
    padding-top: 90px;
}

footer {
    padding: 10px;
    .linkedin:hover, .github:hover, .email:hover {
        animation: fWiggle .3s;
    }
    a {
        transform: scale(1);
        transition: all .1s ease-in;
        display: inline-block;
        margin-left: 25px;
        img {
            height: 40px;
        }
    }
    a:hover, footer:focus {
        transform: scale(1.2);
    }
    a:active { 
        transform: scale(1); 
    } 
}

/* about page */
.aboutWrapper {
    width: 98%;
    padding: 5px 20px;
    background: $boxColor;
    border-radius: 65px;
    margin: auto;
    @include md { // 768px
        width: 88%;
    }
    @include xl { // 1200px
        width: 78%;
    }
    @include xxl { // 1400px
        width: 60%;
    }
    p {
        line-height: 2em;
        text-align: left;
        text-indent: 50px;
        font-size: 22px;
    }
}

.me {
    width: 500px;
    border-radius: 250px;
}

/* portfolio page */
#experience h2{
    font-size: 50px;
}

#experience h1 {
    padding-bottom: 20px;
}

#projectExamples {
    width: 85%;
    display: flex;
    flex-flow: column;
    gap: 50px;
    margin: auto;
    padding-bottom: 90px;
    @include md { // 768px
        flex-flow: row;
        width: 90%;
        padding: 2%;
        border-radius: 50px;
    }
    a {
        background: linear-gradient(to top right, $darkTeal, $lightTeal, $darkTeal);
        border-radius: 60px;
        padding: 5%;
        margin: auto;
        display: block;
        width: 100%; 
        img {
            width: 100%;
            border-radius: 35px;
        }
    }
    a:hover {
        transition: all .19s ease-in;
        transform: scale(1.2) translate(0px, -25px);
        background: linear-gradient(to top right, $lightTeal, #95ffff, $lightTeal);
    }
    a:active {
        transform: scale(1);
        background: linear-gradient(to top right, #012e33, $darkTeal, #012e33);
    }
}

#portfolio h1, #portfolio h2 { /* body id */
    margin-top: 90px;
    font-size: 50px;
}


#tables { /* parent to individual table div tags */
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    .table {
        background: #12081c;
        padding-top: 50px;
        table { 
            justify-content: center;
            margin: auto;
            max-width: 650px;
            word-spacing: 0.1em;
            padding: 2%;
        /* table content scroll fade animation */
            animation: fade-in linear;
            animation-timeline: view();
            animation-range-start: 1px;
            animation-range-end: 1000px;
            caption {
                font-size: 24px;
                color: white;
              }
              thead {
                font-size: 22px;
                color: #ededed;
            }
            tbody {
                font-size: 20px;
                td { 
                    border-top: 2px solid #ededed0f; 
                    padding: 18px;
                }
            }
        }
    }
}

:root {
    --strokeLength: x;
}
.path {
    stroke-dasharray: var(--strokeLength);
    stroke-dashoffset: var(--strokeLength);
    animation: dash 2s ease-in-out infinite alternate;
}
  
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}


@keyframes fade-in { /* table content scroll fade animation */
    from {opacity: 0;}
    to {opacity: 1;}
}