$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/

$lightPink: #F20574;
$darkPink: #730240;
$grey: #141414;
$lightGrey: #989898;

/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

@import url('fonts/Exo/Exo.css');

* {
    box-sizing: border-box;
}
/* site wide styles */

@keyframes wiggle {
    10% {transform: rotate(1deg);}
    30% {transform: rotate(3deg);}
    40% {transform: rotate(-1deg);}
    60% {transform: rotate(-3deg) ;}
    75% {transform: rotate(1deg) ;}
    95% {transform: rotate(-.5deg) ;}
    100% {transform: rotate(0deg) ;}
}


html {
    font-family: 'Exo', "Trebuchet MS", sans-serif;
    color:white;
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
    background: #000000;
}

main {
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h1, h2 {
    font-family: 'Teko', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    //color: #ffffff;
}

h2 {
    font-size: 26px;
    @include xs { // 400px
        font-size: 30px;
    }
    @include sm { // 576px
        font-size: 34px;
    }
    @include md { // 768px
        font-size: 38px;
    }
    @include lg { // 960px
        font-size: 42px;
    }
    @include xl { // 1200px
        font-size: 46px;
    }
    @include xxl { // 1400px
        font-size: 50px;
    }
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    @include sm {
        background: #00000094;
    }
    #menuToggle {
        font-size: 44px;
        float: right;
        margin: 12px;
        border: 0;
        background-color: #00000094;
        border-radius: 100%;
        padding: 10px 18px;
        z-index: 2000;
        @include sm {
            display: none;
        }
        p {
            margin: 0;
            color: white;
        }
    }
    nav { // Mobile styling
        position: fixed;
        align-items: flex-end;
        display: none;
        @include sm {
            position: unset;
            display: block;
        }
        ul {
            width: 100%;
            @include sm {
                display: flex;
                flex-flow: row;
                justify-content: flex-end;
                align-items: baseline;
                list-style: none;
                padding-left: 0;
                margin: 0;
            }
            a {
                margin: 0 10px 0 0;
                text-decoration: none;
                margin-top: 10px;
                margin-bottom: 10px;
                line-height: 20px;
                color:#ffffff;
                padding: 10px 16px;
                border-radius: 40px;
                display: inline-block; // Fixes bug where browser doesn't play animation.
            }
            a:hover {
                background: $lightPink;
                animation: wiggle .3s;
            }
        }
        &.open {
            display: block;
            @include sm {
                width: 100%;
                padding: 0;
            }
            #mobile {
                background: #00000094;
                right: 10px;
                height: 100vh;
                padding: 20px 40px;
                text-align: center;
            }
            ul {
                margin-top: 0;
                list-style: none;
                display: flex;
                flex-flow: column;
                padding-left: 0;
                align-items: flex-end;
                @include sm { 
                    display: flex;
                    flex-flow: row;
                }
                a {
                    color: #ffffff;
                    font-size: 19px;
                    margin: 0 25px 10px 0;
                    text-decoration: none;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 20px;
                    padding: 10px 16px;
                    border-radius: 40px;
                }
                a:hover {
                    background: $lightPink;
                    animation: wiggle .3s;
                }
            }
        }
    }
    
}

#two, #three, #four, #five {
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 1000px;
}
#one {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    #bannerWrapper {
        h1 {
            text-align: left;
            color: $lightGrey;
            .ml12 {
                font-size: .9em;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                @include xs { // 400px
                    font-size: 1em;
                }
                @include sm { // 576px
                    font-size: 1.3em;
                }
                @include md { // 768px
                    font-size: 1.7em;
                }
                @include lg { // 960px
                    font-size: 2.1em;
                }
                @include xl { // 1200px
                    font-size: 2.5em;
                }
                @include xxl { // 1400px
                    font-size: 3em;
                }
            }
            .ml12 .letter {
                line-height: 1em;
            }
        }
    }  
}

/* about section */
#two {
    background: $grey;
    padding-top: 90px;
    #aboutWrapper {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: flex-end;
        width: 90%;
        margin: auto;
        gap: 5%;
        @include md { // 768px
            flex-flow: row;
        }
        #img {
            padding: 0 20px;
            #me {
                width: 95%;
                margin: 7px 0 -7px 0;
                @include xs { // 400px
                    width: 75%;
                }
                @include sm { // 576px
                    width: 60%;
                }
                @include md { // 768px
                    width: 100%;
                }
            }
        }
        #about{
            @include md { // 768px
                align-self: center;
                margin: -45px 0 45px 0;
            }
            p {
                //margin: 0;
                line-height: 1.8em;
                text-align: left;
                text-indent: 50px;
                font-size: 14px;
                @include xs { // 400px
                    font-size: 15px;
                }
                @include sm { // 576px
                    font-size: 16px;
                }
                @include md { // 768px
                    font-size: 17px;
                }
                @include lg { // 960px
                    font-size: 18px;
                }
                @include xl { // 1200px
                    font-size: 19px;
                }
                @include xxl { // 1400px
                    font-size: 20px;
                }
            }
        }
    }
}

/* skills section */
#three {
    padding: 90px 0 170px 0;
    #skillsWrapper {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 10px;
        @include md { // 768px
            gap: 20px;
        }
        @include xl { // 1200px
            gap: 50px;
        }
        @include xxl { // 1400px
            gap: 70px;
        }
        .skill{
            padding: 25px;
            border-radius: 100%;
            background: $grey;
            @include sm { // 576px
                padding: 30px;
            }
            @include md { // 768px
                padding: 35px;
            }
            @include lg { // 960px
               padding: 40px;
            }
            img {
                width: 55px;
                @include sm { // 576px
                    width: 70px;
                }
                @include md { // 768px
                    width: 85px;
                }
                @include lg { // 960px
                    width: 90px;
                }
                @include xl { // 1200px
                    width: 100px;
                }
            }
        }
    }
    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black; //
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        top: -30px;
        margin-left: -10px;
        position: absolute;
        z-index: 1;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}

/* portfolio section */
#four {
    padding: 90px 0 120px 0;
    background: $grey;
    #webExamples {
        //width: 85%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: auto;
        @include xxl { // 1400px
            gap: 50px;
        }
        img {
            width: 340px;
            @include xs { // 400px

            }
            @include sm { // 576px
                width: 540px;
            }
            @include md { // 768px
            
            }
            @include lg { // 960px
                width: 445px;
            }
            @include xl { // 1200px
                width: 560px;
            }
            @include xxl { // 1400px
                width: 660px;
                gap: 50px;
            }
        }
        a:hover {
            transform: scale(1.1);
            transition: all .4s ease-out;
        }
    }
}

/* contact section */
#five {
    padding: 90px 0 150px 0;
    #contactWrapper {
        form {
            border: $grey 2px solid;
            border-radius: 30px;
            width: 95%;
            margin: auto;
            padding: 20px 0;
            font-size: 14px;
            #input {
                input, textarea {
                    color: white;
                    background: $grey;
                    border-style: none;
                    border-radius: 15px;
                    font-size: 16px;
                    padding: 10px;
                    margin: 5px 0 30px 0;
                    resize: none;
                }
            }
            #buttonWrapper {
                display: flex;
                justify-content: center;
                button {
                    background: $grey;
                    color: white;
                    border: none;
                    padding: 10px 16px;
                    border-radius: 40px;
                    font-size: 16px;
                }
                button:hover {
                    background: $lightPink;
                    animation: wiggle .3s;
                }
            }
        }
    }
}
#nameError, #emailError, #messageError {
    margin: -30px 0 30px 0;
    color: $lightPink;
    font-size: 12px;
}
@include xs { // 400px
    #five {
        #contactWrapper {
            form {
                font-size: 15px;
                width: 90%;
                #input {
                    input, textarea {
                        font-size: 17px;
                    }
                }
                #buttonWrapper {
                    button {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
@include sm { // 576px
    #five {
        #contactWrapper {
            form {
                font-size: 16px;
                width: 80%;
                #input {
                    input, textarea {
                        font-size: 18px;
                    }
                }
                #buttonWrapper {
                    button {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@include md { // 768px
    #five {
        #contactWrapper {
            form {
                font-size: 17px;
                width: 70%;
                #input {
                    input, textarea {
                        font-size: 19px;
                    }
                }
                #buttonWrapper {
                    button {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}
@include lg { // 960px
    #five {
        #contactWrapper {
            form {
                font-size: 18px;
                width: 60%;
                #input {
                    input, textarea {
                        font-size: 20px;
                    }
                }
                #buttonWrapper {
                    button {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@include xl { // 1200px
    #five {
        #contactWrapper {
            form {
                font-size: 19px;
                width: 50%;
                #input {
                    input, textarea {
                        font-size: 21px;
                    }
                }
                #buttonWrapper {
                    button {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}
@include xxl { // 1400px
    #five {
        #contactWrapper {
            form {
                font-size: 20px;
                width: 40%;
                #input {
                    input, textarea {
                        font-size: 22px;
                    }
                }
                #buttonWrapper {
                    button {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

footer {
    padding: 10px;
    .linkedin:hover, .github:hover, .email:hover  {
        animation: wiggle .3s;
    }
    a {
        transform: scale(1);
        transition: all .1s ease-in;
        display: inline-block;
        margin-left: 25px;
        img {
            height: 40px;
        }
    }
    a:hover {
        transform: scale(1.1);
    }
    a:active { 
        transform: scale(1); 
    } 
}

// :root {
//     --strokeLength: x;
// }
// .path {
//     stroke-dasharray: var(--strokeLength);
//     stroke-dashoffset: var(--strokeLength);
//     animation: dash 2s ease-in-out infinite alternate;
// }
  
// @keyframes dash {
//     to {
//       stroke-dashoffset: 0;
//     }
// }

@keyframes fade-in { /* scroll fade animation */
    from {opacity: 0;}
    to {opacity: 1;}
}