/* Devinne McCombs
   February 15, 2024 */


	header
	{
		background-color: #8da2b5;
	}
	footer
	{
		background-color: #8da2b5;
	}
	p, ul, li
	{
		font-size: 20px;
	}
	a:link
	{
		color: #aa2065
	}
	a:visited
	{
		color: #7332ac
	}
	a:hover
	{
		color: #790d43
	}
	a:active
	{
		color: #fb1414
	}
		