/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/
/* Mixins */
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", Arial, sans-serif;
  color: #4a4a4a;
}

h2 {
  font-size: 36px;
}

body {
  margin: 0;
  background-color: #fbfcfc;
}

header {
  background: #fbfcfc;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
}
header #menu_toggle {
  float: right;
  margin: 11px 11px 0 0;
  border: 0;
  background-color: #fbfcfc;
}
@media (min-width: 960px) {
  header #menu_toggle {
    display: none;
  }
}
header #menu_toggle img {
  width: 60px;
}
header .logo img {
  width: 180px;
  margin: 10px;
  float: left;
}
@media (min-width: 960px) {
  header .logo img {
    width: 250px;
  }
}
header nav {
  position: fixed;
  background: rgba(251, 252, 252, 0.8235294118);
  align-items: flex-end;
}
@media (min-width: 960px) {
  header nav {
    position: unset;
  }
}
@media (min-width: 960px) {
  header nav ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none;
    padding-left: 0;
  }
  header nav ul a {
    font-size: 19px;
    font-weight: bold;
    margin: 0 2px 10px 0;
    text-decoration: none;
    line-height: 60px;
    padding: 15px;
    border-radius: 40px;
  }
  header nav ul .ticket_button {
    background: #00b2b2;
    color: #fbfcfc;
    padding: 0 12px 0 12px;
    border-radius: 40px;
    display: flex;
    margin: 10px 10px 0 0;
  }
  header nav ul .ticket_button:hover {
    background-color: #008888;
  }
}
header nav.open {
  right: 10px;
  top: 94.28px;
  padding: 20px;
  border-radius: 35px;
  width: 219px;
  text-align: center;
}
@media (min-width: 960px) {
  header nav.open {
    width: 100%;
    padding: 0;
  }
}
header nav.open ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  padding-left: 0;
  align-items: flex-end;
}
@media (min-width: 960px) {
  header nav.open ul {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: baseline;
  }
}
header nav.open ul a {
  font-size: 19px;
  font-weight: bold;
  margin: 0 25px 10px 0;
  text-decoration: none;
  line-height: 60px;
  padding: 15px;
  border-radius: 40px;
}
header nav.open ul .ticket_button {
  background: #00b2b2;
  color: #fbfcfc;
  padding: 0 12px 0 12px;
  border-radius: 40px;
  display: flex;
  margin-top: 10px;
}
header nav.open ul .ticket_button:hover {
  background-color: #008888;
}
@media (max-width: 960px) {
  header nav {
    right: -130px;
  }
}

nav a:hover {
  background: #00b2b2;
  color: #fbfcfc;
}

main {
  margin-top: 84.28px;
}
@media (min-width: 960px) {
  main {
    margin-top: 109.28px;
  }
}

#welcome_container {
  position: relative;
}
#welcome_container h1 {
  position: fixed;
  top: 230px;
  left: 26px;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-flow: column;
  z-index: 60;
}
@media (min-width: 768px) {
  #welcome_container h1 {
    top: 100px;
  }
}
@media (min-width: 960px) {
  #welcome_container h1 {
    top: 150px;
  }
}
@media (min-width: 1200px) {
  #welcome_container h1 {
    top: 200px;
  }
}
#welcome_container h1 #welcome {
  font-size: 25px;
  line-height: 45px;
  font-weight: 200;
  color: #fbfcfc;
}
@media (min-width: 576px) {
  #welcome_container h1 #welcome {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  #welcome_container h1 #welcome {
    font-size: 35px;
    line-height: 60px;
  }
}
@media (min-width: 960px) {
  #welcome_container h1 #welcome {
    font-size: 40px;
    line-height: 75px;
  }
}
@media (min-width: 1200px) {
  #welcome_container h1 #welcome {
    font-size: 45px;
    line-height: 85px;
  }
}
@media (min-width: 1400px) {
  #welcome_container h1 #welcome {
    font-size: 50px;
    line-height: 100px;
  }
}
#welcome_container h1 #lapras {
  font-size: 45px;
  line-height: 20px;
  letter-spacing: 3px;
  color: #fbfcfc;
}
@media (min-width: 576px) {
  #welcome_container h1 #lapras {
    font-size: 53px;
  }
}
@media (min-width: 768px) {
  #welcome_container h1 #lapras {
    font-size: 61px;
  }
}
@media (min-width: 960px) {
  #welcome_container h1 #lapras {
    font-size: 69px;
  }
}
@media (min-width: 1200px) {
  #welcome_container h1 #lapras {
    font-size: 77px;
  }
}
@media (min-width: 1400px) {
  #welcome_container h1 #lapras {
    font-size: 85px;
  }
}
#welcome_container h1 #aquarium {
  font-size: 55px;
  letter-spacing: 4px;
  color: #fbfcfc;
}
@media (min-width: 576px) {
  #welcome_container h1 #aquarium {
    font-size: 70px;
  }
}
@media (min-width: 768px) {
  #welcome_container h1 #aquarium {
    font-size: 85px;
  }
}
@media (min-width: 960px) {
  #welcome_container h1 #aquarium {
    font-size: 100px;
  }
}
@media (min-width: 1200px) {
  #welcome_container h1 #aquarium {
    font-size: 115px;
  }
}
@media (min-width: 1400px) {
  #welcome_container h1 #aquarium {
    font-size: 130px;
  }
}
#welcome_container #video_container #ocean_video {
  z-index: 0;
  position: fixed;
  width: auto;
  height: 600px;
  left: -200px;
}
@media (min-width: 768px) {
  #welcome_container #video_container #ocean_video {
    width: 100vw;
    height: auto;
    left: 0;
  }
}

#wave_top {
  margin-top: 448px;
  width: 100%;
  z-index: 90;
  position: relative;
}
@media (min-width: 768px) {
  #wave_top {
    margin-top: 276px;
  }
}
@media (min-width: 960px) {
  #wave_top {
    margin-top: 340px;
  }
}
@media (min-width: 1200px) {
  #wave_top {
    margin-top: 440px;
  }
}
@media (min-width: 1400px) {
  #wave_top {
    margin-top: 475px;
  }
}

#wave_bottom {
  width: 100%;
  z-index: 90;
  position: relative;
}

#mission_statement {
  margin-top: -40px;
  background-color: #00b2b2;
  padding: 0 20px 20px 20px;
  z-index: 100;
  position: relative;
}
#mission_statement h2, #mission_statement p {
  color: #fbfcfc;
  font-size: 1.4em;
}
@media (min-width: 576px) {
  #mission_statement h2, #mission_statement p {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  #mission_statement h2, #mission_statement p {
    font-size: 1.6em;
    width: 85%;
    margin-left: 10px;
  }
}
@media (min-width: 960px) {
  #mission_statement h2, #mission_statement p {
    font-size: 1.7em;
    width: 70%;
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  #mission_statement h2, #mission_statement p {
    font-size: 1.8em;
    width: 65%;
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  #mission_statement h2, #mission_statement p {
    font-size: 2em;
    width: 60%;
    margin-left: 35px;
  }
}

#jellyfishImage {
  background-image: url(../image/jellyfish.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  width: 100vw;
  top: -68px;
  margin-bottom: -68px;
  z-index: 70;
}
@media (min-width: 576px) {
  #jellyfishImage {
    top: -88px;
    margin-bottom: -88px;
  }
}
@media (min-width: 768px) {
  #jellyfishImage {
    top: -110px;
    margin-bottom: -110px;
  }
}
@media (min-width: 960px) {
  #jellyfishImage {
    top: -136px;
    margin-bottom: -136px;
  }
}
@media (min-width: 1200px) {
  #jellyfishImage {
    top: -158px;
    margin-bottom: -158px;
  }
}
@media (min-width: 1400px) {
  #jellyfishImage {
    top: -220px;
    margin-bottom: -220px;
  }
}
#jellyfishImage #box_wrapper {
  padding: 300px 0 300px 0;
  display: flex;
  flex-flow: column;
  gap: 90px;
  z-index: 100;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  #jellyfishImage #box_wrapper {
    font-size: 26px;
    flex-flow: row;
    gap: 110px;
  }
}
#jellyfishImage #box_wrapper div {
  color: #4a4a4a;
  width: 350px;
  background-color: rgba(251, 252, 252, 0.8235294118);
  border-radius: 40px;
  padding: 16px;
}
#jellyfishImage #box_wrapper #time_box table {
  margin: auto;
}
@media (min-width: 768px) {
  #jellyfishImage #box_wrapper #contact_box {
    font-size: 29px;
    padding: 24px;
  }
}
#jellyfishImage #box_wrapper #contact_box h3 {
  line-height: 0;
}
#jellyfishImage #box_wrapper #contact_box h3, #jellyfishImage #box_wrapper #contact_box p {
  text-align: center;
}

footer {
  background: #fbfcfc;
  padding: 20px 0 0 0;
  z-index: 99999;
  position: relative;
}
footer .footer_logo {
  display: flex;
  justify-content: center;
}
footer .footer_logo img {
  height: 110px;
}
footer .footer_bottom {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}
@media (min-width: 768px) {
  footer .footer_bottom {
    flex-flow: row;
    justify-content: space-between;
  }
}
footer .footer_bottom p {
  margin-left: 20px;
}
footer .footer_bottom .social_media img {
  height: 70px;
  margin: 20px 20px 20px 0;
}
@media (min-width: 768px) {
  footer .footer_bottom .social_media img {
    margin: 0 20px 20px 0;
  }
}

#wave_box {
  background: #00b2b2;
  padding: 10px 0 10px 0;
  z-index: 100;
}
@media (min-width: 1400px) {
  #wave_box {
    padding: 80px 0 1px 0;
    margin-top: -10px;
  }
}
#wave_box h2 {
  color: #fbfcfc;
  text-align: center;
  font-size: 30px;
}
@media (min-width: 1400px) {
  #wave_box h2 {
    font-size: 50px;
  }
}

#kelpImage {
  background-image: url(../image/kelp.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 780px;
  top: -68px;
  margin-bottom: -68px;
  z-index: 70;
}
#kelpImage.open {
  height: 1440px;
}
@media (min-width: 400px) {
  #kelpImage.open {
    height: 1480px;
  }
}
@media (min-width: 576px) {
  #kelpImage.open {
    height: 1530px;
  }
}
@media (min-width: 768px) {
  #kelpImage.open {
    height: 1620px;
  }
}
@media (min-width: 960px) {
  #kelpImage.open {
    height: 1760px;
  }
}
@media (min-width: 1200px) {
  #kelpImage.open {
    height: 1930px;
  }
}
@media (min-width: 1400px) {
  #kelpImage.open {
    height: 2100px;
  }
}
@media (min-width: 400px) {
  #kelpImage {
    height: 775px;
  }
}
@media (min-width: 576px) {
  #kelpImage {
    height: 800px;
    top: -88px;
    margin-bottom: -88px;
  }
}
@media (min-width: 768px) {
  #kelpImage {
    height: 900px;
    top: -110px;
    margin-bottom: -110px;
  }
}
@media (min-width: 960px) {
  #kelpImage {
    height: 1000px;
    top: -136px;
    margin-bottom: -136px;
  }
}
@media (min-width: 1200px) {
  #kelpImage {
    height: 1100px;
    top: -158px;
    margin-bottom: -158px;
  }
}
@media (min-width: 1400px) {
  #kelpImage {
    height: 1200px;
    top: -240px;
    margin-bottom: -240px;
  }
}

#member_wrapper #member_box {
  display: flex;
  justify-content: center;
  margin: auto;
  top: 150px;
  padding: 50px 0 50px 0;
  z-index: 100;
  position: relative;
  background-color: rgba(251, 252, 252, 0.8235294118);
  width: 85%;
  border-radius: 60px;
}
@media (min-width: 576px) {
  #member_wrapper #member_box {
    top: 175px;
    width: 75%;
  }
}
@media (min-width: 768px) {
  #member_wrapper #member_box {
    top: 200px;
    width: 60%;
  }
}
@media (min-width: 960px) {
  #member_wrapper #member_box {
    top: 250px;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #member_wrapper #member_box {
    top: 300px;
    width: 45%;
  }
}
@media (min-width: 1400px) {
  #member_wrapper #member_box {
    top: 350px;
    width: 40%;
    border-radius: 60px;
  }
}
#member_wrapper #member_box section {
  margin: 0 30px 0 30px;
  font-size: 0.94em;
  line-height: 45px;
  letter-spacing: 1.3px;
}
@media (min-width: 400px) {
  #member_wrapper #member_box section {
    font-size: 1em;
    line-height: 50px;
    letter-spacing: 1.4px;
  }
}
@media (min-width: 576px) {
  #member_wrapper #member_box section {
    font-size: 1.1em;
    line-height: 55px;
    letter-spacing: 1.5px;
  }
}
@media (min-width: 768px) {
  #member_wrapper #member_box section {
    font-size: 1.25em;
    line-height: 60px;
    letter-spacing: 1.6px;
  }
}
@media (min-width: 960px) {
  #member_wrapper #member_box section {
    font-size: 1.4em;
    line-height: 65px;
    letter-spacing: 1.7px;
  }
}
@media (min-width: 1200px) {
  #member_wrapper #member_box section {
    font-size: 1.55em;
    line-height: 70px;
    letter-spacing: 1.8px;
  }
}
@media (min-width: 1400px) {
  #member_wrapper #member_box section {
    font-size: 1.7em;
    line-height: 75px;
    letter-spacing: 1.9px;
  }
}
#member_wrapper #member_box section h3 {
  text-align: center;
}
#member_wrapper #member_box section li {
  list-style-type: circle;
  margin-left: -16px;
}
#member_wrapper #member_box section li::marker {
  color: #48ecec;
}
#member_wrapper #button_wrapper {
  display: flex;
  justify-content: center;
}
#member_wrapper #button_wrapper #sign_up_button {
  border: none;
  padding: 10px 18px 14px 18px;
  border-radius: 40px;
  background: #00b2b2;
  color: #fbfcfc;
  font-size: 22px;
}
#member_wrapper #form_wrapper #open_form {
  display: none;
}
#member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
  font-size: 0.94em;
  line-height: 30px;
  letter-spacing: 1.2px;
}
@media (min-width: 400px) {
  #member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
    font-size: 1em;
    letter-spacing: 1.25px;
  }
}
@media (min-width: 576px) {
  #member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
    font-size: 1.1em;
    letter-spacing: 1.3px;
  }
}
@media (min-width: 768px) {
  #member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
    font-size: 1.25em;
    letter-spacing: 1.35px;
  }
}
@media (min-width: 960px) {
  #member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
    font-size: 1.4em;
    letter-spacing: 1.4px;
    line-height: 35px;
  }
}
@media (min-width: 1200px) {
  #member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
    font-size: 1.55em;
    letter-spacing: 1.45px;
    line-height: 40px;
  }
}
@media (min-width: 1400px) {
  #member_wrapper #form_wrapper #open_form label, #member_wrapper #form_wrapper #open_form input, #member_wrapper #form_wrapper #open_form p {
    font-size: 1.7em;
    letter-spacing: 1.5px;
    line-height: 45px;
  }
}
#member_wrapper #form_wrapper #open_form input[type=checkbox] {
  width: 16px;
  height: 16px;
}
@media (min-width: 400px) {
  #member_wrapper #form_wrapper #open_form input[type=checkbox] {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 576px) {
  #member_wrapper #form_wrapper #open_form input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 768px) {
  #member_wrapper #form_wrapper #open_form input[type=checkbox] {
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 960px) {
  #member_wrapper #form_wrapper #open_form input[type=checkbox] {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1200px) {
  #member_wrapper #form_wrapper #open_form input[type=checkbox] {
    width: 26px;
    height: 26px;
  }
}
@media (min-width: 1400px) {
  #member_wrapper #form_wrapper #open_form input[type=checkbox] {
    width: 28px;
    height: 28px;
  }
}
#member_wrapper #form_wrapper #open_form input[type=text] {
  border-radius: 10px;
  border-style: none;
}
#member_wrapper #form_wrapper #open_form #submit {
  border: none;
  padding: 10px 18px 14px 18px;
  border-radius: 40px;
  background: #00b2b2;
  color: #fbfcfc;
  font-size: 19px;
}
#member_wrapper #form_wrapper #open_form.open {
  display: block;
  margin: auto;
  top: 180px;
  padding: 50px;
  z-index: 100;
  position: relative;
  background-color: rgba(251, 252, 252, 0.8235294118);
  width: 85%;
  height: auto;
  border-radius: 60px;
}
@media (min-width: 576px) {
  #member_wrapper #form_wrapper #open_form.open {
    width: 75%;
    top: 200px;
  }
}
@media (min-width: 768px) {
  #member_wrapper #form_wrapper #open_form.open {
    width: 60%;
    top: 230px;
  }
}
@media (min-width: 960px) {
  #member_wrapper #form_wrapper #open_form.open {
    width: 50%;
    top: 280px;
  }
}
@media (min-width: 1200px) {
  #member_wrapper #form_wrapper #open_form.open {
    width: 45%;
    top: 330px;
  }
}
@media (min-width: 1400px) {
  #member_wrapper #form_wrapper #open_form.open {
    width: 40%;
    top: 380px;
  }
}

#email_error, #name_error, #phone_error {
  color: #dc005f;
  font-weight: bold;
}

#confirm_page_image {
  background-image: url(../image/kelp.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  width: 100vw;
  height: 800px;
}
#confirm_page_image #confirm_message_wrapper {
  display: block;
  margin: auto;
  top: 180px;
  padding: 50px;
  z-index: 100;
  position: relative;
  background-color: rgba(251, 252, 252, 0.8235294118);
  width: 80%;
  height: auto;
  border-radius: 60px;
  font-size: 1.15em;
  text-align: center;
}
@media (min-width: 400px) {
  #confirm_page_image #confirm_message_wrapper {
    font-size: 1.25em;
    width: 75%;
    top: 160px;
  }
}
@media (min-width: 576px) {
  #confirm_page_image #confirm_message_wrapper {
    font-size: 1.5em;
    width: 70%;
  }
}
@media (min-width: 768px) {
  #confirm_page_image #confirm_message_wrapper {
    font-size: 1.6em;
    width: 65%;
  }
}
@media (min-width: 960px) {
  #confirm_page_image #confirm_message_wrapper {
    font-size: 1.7em;
    width: 60%;
  }
}
@media (min-width: 1200px) {
  #confirm_page_image #confirm_message_wrapper {
    font-size: 1.8em;
    width: 55%;
  }
}
@media (min-width: 1400px) {
  #confirm_page_image #confirm_message_wrapper {
    font-size: 1.9em;
    width: 50%;
  }
}
#confirm_page_image #confirm_message_wrapper #exit_wrapper {
  float: right;
  margin-top: -50px;
}
#confirm_page_image #confirm_message_wrapper #exit_wrapper a {
  text-decoration: none;
  font-size: 50px;
}

#image_slider {
  position: relative;
  margin: auto;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}
#image_slider #row {
  display: flex;
  flex-flow: row;
}
#image_slider #row .mySlides img {
  vertical-align: middle;
  width: 100vw;
  height: auto;
  margin-top: -48px;
  margin-bottom: -100px;
}
@media (min-width: 400px) {
  #image_slider #row .mySlides img {
    margin-top: -68px;
    margin-bottom: -120px;
  }
}
@media (min-width: 576px) {
  #image_slider #row .mySlides img {
    margin-top: -88px;
    margin-bottom: -150px;
  }
}
@media (min-width: 768px) {
  #image_slider #row .mySlides img {
    margin-top: -108px;
    margin-bottom: -186px;
  }
}
@media (min-width: 960px) {
  #image_slider #row .mySlides img {
    margin-top: -146px;
    margin-bottom: -246px;
  }
}
@media (min-width: 1200px) {
  #image_slider #row .mySlides img {
    margin-top: -158px;
    margin-bottom: -260px;
  }
}
@media (min-width: 1400px) {
  #image_slider #row .mySlides img {
    margin-top: -200px;
    margin-bottom: -350px;
  }
}
#image_slider .prev, #image_slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#image_slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#image_slider .prev:hover, #image_slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#wave_top_explore {
  width: 100%;
  z-index: 90;
  position: relative;
  margin-top: -40px;
}

#wave_bottom_explore {
  margin-top: 10px;
  margin-bottom: -10px;
  width: 100%;
  z-index: 90;
  position: relative;
}
@media (min-width: 400px) {
  #wave_bottom_explore {
    margin-top: 15px;
    margin-bottom: -15px;
  }
}

#map_box {
  background: #00b2b2;
  padding: 10px 0 10px 0;
  position: relative;
  z-index: 100;
}
@media (min-width: 1400px) {
  #map_box {
    padding: 80px 0 1px 0;
    margin-top: -10px;
  }
}
#map_box h2 {
  color: #fbfcfc;
  text-align: center;
  font-size: 30px;
}
@media (min-width: 1400px) {
  #map_box h2 {
    font-size: 50px;
  }
}
#map_box img {
  width: 100vw;
  height: auto;
}/*# sourceMappingURL=styles.css.map */