$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/* Mixins */
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle,
    #003528, #000c09)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: #222;
  color: gold;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
  &:focus, &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.ui-box {
  border: 2px solid white;
  background: rgba(255,255,255,.75);
  padding: 2em;
}

.ui-layout {
  section {
    padding: 20px;
  }
  .ui-bg {
    height: 40vh;
    width: 100vw;
    background: black;
  }
  .ui-story {
    height: 50vh;
    width: 100vw;
    padding: 50px 30px;
    background: #222;
    color: #fff;
    .scrollable {
      overflow-y: auto;
      height: 100%;
    }
    p {
      width: 100%;
      @include md {
        width: 66.66%;
      }
      margin: 0 auto;
      line-height: 2.25em;
      padding-right: 20px;
    }
  }
  .ui-choices {
    height: 10vh;
    width: 100vw;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  margin-inline: 10px;
}