@import url('https://fonts.googleapis.com/css?family=Righteous');
@font-face {
	font-family: "Quicksand-Bold";
	src: url("../fonts/Quicksand-Bold.otf") format("opentype");
}

$blue: #B8D1EB;
$black: #000;
$lightBrown: #C5A98B;
$darkBrown: #7a6b48;
$red: #8B0000;

body {
    background: $blue;
    font-family: "Times New Roman", serif;
}
#outerwrapper {
    width: 70%;
    margin: 0 auto;
}
.floatleft {
    float: left;
    margin-right: 3%;
}
h1 {
    font: {
        family: 'Righteous', cursive;
        size: 60px;
    }
}
h2 {
    font: {
        family: 'Quicksand-Bold', Arial, sans-serif;
        weight: normal;
        style: italic;
    }
}
main {
    background: $lightBrown;
    padding: 10px;
}
nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: $lightBrown;
        li {
            a {
                display: block;
                color: $black;
                padding: 8px 16px;
                text-decoration: none;
                &.active {
                    background: $darkBrown;
                    color: $black;
                }
                &:hover:not(.active) {
                    background: $darkBrown;
                    color: $red;
                }
            }
        }
    }
}
.floatright {
	float: right;
	margin-left: 3%;
}
main {
    > ul {
        list-style-image: url(../images/tomatoeBullet.png);
    }
}
main,
footer {
    clear: both;
}
footer {
	font-size: 0.75em;
	text-align: center;
	background: $darkBrown;
	padding: 10px 0px;
}