/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'sofia';
    src: url('../fonts/amerika-webfont.woff2') format('woff2'),
         url('../fonts/amerika-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'sofia', "Times New Roman", serif;
}