@use 'variables';
@use 'mixins' as *;

.contact-form-wrapper {
    max-width: 750px;
 .contact-form {
    padding: 20px 40px;
    border-radius: 6px;
    background: var(--bg3);
    box-shadow: 5px 10px 10px var(--shadow);
    z-index: 999;
    form {
        input, textarea {
            background: var(--bg);
            color: var(--inverted-primary);
            border: none;
        }
        button {
            background-color: var(--secondary);
            color: var(--text);
            transition-property: background-color, color;
            transition-timing-function: ease;
            transition-duration: 0.3s;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            
        }
        button:hover {
            background-color: var(--inverted-secondary);
            color: var(--bg)
        }
    }
 }
}


// -------Modal-------


.contact-backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: relative;
  z-index: 10000;
  background: var(--bg);
  padding-bottom: 80px;
  width: 100%;
  .content-wrapper {
    max-width: 750px;
    margin: auto;
    h2 {
        text-align: center;
        padding: 40px 0 20px 0;
    }
    .close-button {
        float: right;
        margin: 20px 20px -20px 20px;
    }
  }
}