@use 'variables';
@use 'mixins' as *;

footer {
    height: 170px;
    text-align: center;
    padding-top: 50px;
    bottom: 0;
    @include sm { // 576px
        padding-top: 30px;
    }
    .footer_section {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: right;
        flex-flow: row-reverse;
        font-size: 12px;
        margin-right: 30px;
        gap: 10px;
        z-index: 1;
        @include lg { // 960px
            font-size: 13px;
        }
        @include xl { // 1200px
            font-size: 14px;
            margin-right: 60px;
        }
        @include xxl { // 1400px
            font-size: 16px;
            margin-right: 80px;
        }
        .icon {
            transform: scale(1);
            transition: all .1s ease-in;
            display: inline-block;
            img {
                width: 20px;
                @include sm { // 576px
                    width: 25px;
                }
                @include lg { // 960px
                    width: 28px;
                }
                @include xl { // 1200px
                    width: 32px;
                }
                @include xxl { // 1400px
                    width: 38px;
                }
            }
        }
        p {
            margin: 10px 0;
            @include sm { // 576px 
                margin: 14px 0
            }
            .pink {
                color: var(--primary);
            }
            a {
                text-decoration: none;
                color: var(--primary);
                cursor: pointer;
            }
        }

    }

    .itch:hover, .github:hover, .email:hover  {
        animation: icon-wiggle .3s;
    }
    a:hover {
        transform: scale(1.1);
    }
    a:active { 
        transform: scale(1); 
    } 
}