@use 'variables';
@use 'mixins' as *;

footer {
    .footer_section {
        z-index: 999;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 18px 18px 0;
        .icon {
            background: var(--secondary);
            border-radius: 50%;
            width: 45px;
            height: 45px;
            transform: scale(1);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease;
            &:hover {
                background: var(--primary);
            }
            &:hover svg {
                animation: tilt-shaking 0.3s infinite;
                width: 37px;
                height: 37px;
            }
            svg {
                margin-top: 6px;
                width: 35px;
                height: 35px;
            }
        }
    }
}