@use 'variables';
@use 'mixins' as *;

@use 'bootstrap';
@use 'game';
@use 'nav';
@use 'projectCards';
@use 'footer';
@use 'themeToggle';

@import url('../fonts/Exo/Exo.css');

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  transition: background 0.2s, color 0.2s;
}

main {
  min-height: calc(100vh - 170px);
}


button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
}






