* {
    box-sizing: border-box;
}

section {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

fieldset.box {
    background: #2913455d;
    border: none;
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    text-align: center;
    border-radius: 25px;
}

input {
    border-radius: 40px;
    background: #ffffff3b;
    border: none;
    color: white;
    font-size: 20px;
}

input[type="text"] {
    transition: all 0.5s ease;
}

input[type="text"]:focus {
    font-size: 22px;
    padding: 6px;
    outline: none;
}

select {
    border-radius: 40px;
    background: #ffffff3b;
    border: none;
    color: white;
    font-size: 20px;
}

textarea {
    border-radius: 20px;
    background: #ffffff3b;
    border: none;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;

}

textarea:focus {
    font-size: 22px;
    padding: 6px;
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    
}

#submit {
    background: linear-gradient(to top left, #037F8C, #05F2F2);
    padding: 10px 15px;
    border-radius: 40px;
    border: 0;
}

#submit:hover {
    background: #F20574;
    transform: scale(1.15);
    animation: box .3s linear;
  }

 #submit:active {
    background: #730240;
    transform: scale(1)
  }
  
  @keyframes box {
    10% {rotate: 2deg;}
    30% {rotate: 5deg;}
    40% {rotate: -2deg;}
    60% {rotate: -5deg;}
    75% {rotate: 2deg;}
    95% {rotate: -1deg;}
    100% {rotate: 0deg;}
  }

@media only screen and (min-width: 1200px) { /* desktop */
    section {
        flex-flow: row;
        width: 100%;
        
    }
    fieldset.box {
        width: 50%;
        
    }
}
