* {
    box-sizing: border-box;
}

input, select, textarea {
    font-size: 15px;
    color: white;
    border-radius: 22px;
    background: #ffffff3b;
    border: none;
}

section {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

fieldset {
    background: var(--boxColor);
    border: none;
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    border-radius: 25px;
    width: 94%;
    padding: 15px;
}

input[type="text"], textarea {
    transition: all 0.5s ease;
}

input[type="text"]:focus, textarea:focus {
    font-size: 17px;
    padding: 3px;
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    
}

#submit {
    background: linear-gradient(to top left, var(--darkTeal), var(--lightTeal));
    padding: 10px 15px;
    border-radius: 40px;
    border: 0;
}

#submit:hover {
    transform: scale(1.15);
  }

 #submit:active {
    transform: scale(1);
  }
  
@media only screen and (min-width: 460px) {
    input, select, textarea {
        font-size: 20px;
    }

    input[type="text"]:focus, textarea:focus {
        font-size: 22px;
        padding: 6px;
    }

    fieldset { 
        font-size: 22px;
        width: 85%;
    }
}

@media only screen and (min-width: 700px) {
    fieldset {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) { 
    section {
        flex-flow: row;
    }

    fieldset {
        flex: 1;
    }
}

