@import url('fonts/Exo/Exo.css');

* {
    box-sizing: border-box;
}

:root {
    --wiggle: box .3s;
    --lightPink: #F20574;
    --darkPink: #730240;
    --lightTeal: #05F2F2;
    --darkTeal: #037F8C;
    --boxColor: #170B265d;
    --graphicWidth: 100%;
    --navFlexFlow: column;
    --navPadding: 10px 16px;
    --navJustify: center;
    --navHeight: 200px;
    --bannerOne: 110px;
    --bannerTwo: 0px;
    --bannerThree: 50px;
    --bannerFour: 41px;
    --bannerFont: 80px;
    --projectFlexFlow: column;
    --projectWidth: 85%;
    --projectBoxWidth: 100%;
    --projectBoxPadding: 5%;
    --progBoxBordRad: 60px;
}

@keyframes box {
    10% {rotate: 2deg;}
    30% {rotate: 5deg;}
    40% {rotate: -2deg;}
    60% {rotate: -5deg;}
    75% {rotate: 2deg;}
    95% {rotate: -1deg;}
    100% {rotate: 0deg;}
  }

html {
    font-family: 'Exo', Trebuchet MS, sans-serif;
    color:#D7C7D9;
    text-align: center;
    font-size: 20px;
}

body {
    margin: 0;
}

main {
    background-image: url(../image/BackgroundMobile.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

header, footer {
    background: #170B26;
}

.logo img{
    width: 230px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    transition: all .2s ease-in;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo img:active {
    transform: scale(1)
}

nav {
    display: flex;
    justify-content: var(--navJustify);
    height: var(--navHeight);
    align-items: flex-end;
    flex-flow: var(--navFlexFlow);
    margin-right: 5px;

}

nav a {
    color: #ededed;
    text-decoration: none;
    padding: var(--navPadding);
    border-radius: 40px;
}

main {
    padding: 50px 0;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h1, h2 {
    font-family: "Teko", Arial, sans-serif;
    font-weight: 550;
    font-style: normal;
    color: #ededed;
    text-shadow: 4px 3px 5px #170B26;
    font-size: 40px;
}

.aboutWrapper {
    width: 98%;
    padding: 5px 20px;
    background: var(--boxColor);
    border-radius: 65px;
    margin: auto;
}

.aboutWrapper p {
    line-height: 2em;
    text-align: left;
    text-indent: 50px;
    font-size: 22px;
}

footer {
    padding: 10px;
}

footer img {
    height: 40px;
}

.github, .phone, .email {
    margin-left: 15px;
}

.linkedin, .github, .phone, .email {
    transition: all .1s ease-in;
}

.linkedin:hover, .github:hover, .phone:hover, .email:hover {
    animation: var(--wiggle);
    transform: scale(1.2);
}

.linkedin:active, .github:active, .phone:active, .email:active {
    transform: scale(1);
}

nav a:hover, #projectExamples a:hover, #submit:hover {
    background: var(--lightPink);
    animation: var(--wiggle);
}

nav a:active, #projectExamples a:active, #submit:active {
    background: var(--darkPink);
    transform: scale(0.85);
}

img.me { /*about*/
    width: 150px;
    border-radius: 75px;
}

main#banner { /*home*/
    background: linear-gradient( to top right, var(--lightPink), var(--lightTeal));
    padding: 80px 0;
}

#banner h1{ /*home*/
    text-shadow: 6px 5px 8px var(--boxColor);
    font-size: var(--bannerFont);
    text-align: left;
    justify-content: center;
    align-items: center;
    line-height: 95px;
    display: flex;
    flex-flow: column;
}

#bannerLineOne { 
    margin-right: var(--bannerOne);
}

#bannerLineTwo { 
    color: white;
    margin-left: var(--bannerTwo);
}

#bannerLineThree { 
    margin-right: var(--bannerThree);
}

#bannerLineFour { 
   color: white;
    margin-left: var(--bannerFour);
}

#experience h2{
    font-size: 50px;
}

#projectExamples {
    width: var(--projectWidth);
    display: flex;
    flex-flow: var(--projectFlexFlow);
    gap: 50px;
    margin: auto;
    padding-bottom: 90px;
}

#projectExamples a:hover {
  transform: scale(1.15);
}

#projectExamples a:active {
  transform: scale(1);
}

#projectExamples a {
    background: linear-gradient(to top left, var(--darkTeal), var(--lightTeal), var(--darkTeal));
    border-radius: var(--progBoxBordRad);
    padding: var(--projectBoxPadding);
    margin: auto;
    display: block;
    width: var(--projectBoxWidth); 
}

#projectExamples a img {
    width: 100%;
    border-radius: 35px;
}

#infoGraphic {
    background: #170B26;
    margin-top: 150px;
}

#infoGraphic img {
    width: var(--graphicWidth);
    border-radius: 170px;
}

header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.paper { /*papers*/
    margin-top: 140px;
}

.box { /*papers*/
    background:var(--boxColor);
    padding: 10px 15px 30px 15px;
    width: 98%;
    border-radius: 65px;
}

.box p { /*papers*/
    text-align: left;
    text-indent: 50px;
    line-height: 1.7em;
    font-size: 16px;
    margin-left: 20px;
}

.box h1 { /*papers*/
    font-size: 35px;
    line-height: 1.2em;
}

.box h2 { /*papers*/
    font-size: 20px; 
}

footer .references {
    width: 100%;
    text-align: left;
}

.references {
    width: 70%;
    font-size: 22px;
}

.references a {
    text-decoration: none;
    font-weight: bold;
}

.references a:link {
    color: white;
}
.references a:visited {
    color: var(--lightTeal);
}
.references a:hover {
    color: var(--lightPink);
}

.references a:active {
    color: var(--darkPink);
}

.scroll-watcher {
    height: 15px;
    position: fixed;
    top: 200px;
    z-index: 1000;
    background: var(--lightPink);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
    to { scale: 1 1; }
}
@media only screen and (min-width: 1200px) {
    main {
        background-image: url(../image/Background.webp);
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #infoGraphic img {
        --graphicWidth: 70%;
    }
}

@media only screen and (min-width: 800px) {
    
    header {
        padding-bottom: 10px;
    }
    
    nav {
        --navFlexFlow: row;
        --navPadding: 15px 20px;
        --navJustify: flex-end;
        --navHeight: 160px;
        margin-right: 15px;
    }

    .paper p {
        font-size: 20px;
    }

    .scroll-watcher {
        top: 170.06px;
    }

    .logo img {
        width: 175px;
        margin-top: 24px;
    }

    #banner { /*home*/
        --bannerFont: 115px;
        --bannerOne: 200px;
        --bannerTwo: 130px;
        --bannerThree: 110px;
        --bannerFour: 200px;
    }

    .aboutWrapper {
        width: 75%;
    }

    #projectExamples {
        --projectFlexFlow: row;
        --projectWidth: 90%;
        --projectBoxWidth: 33.33%;
        --projectBoxPadding: 2%;
        --progBoxBordRad: 50px;
    }
 
    #infoGraphic img {
        --graphicWidth: 85%;
        border-radius: 200px;
    }

    #infoGraphic {
        margin-top: 120px;
    }

    .box {
        padding: 10px 70px 30px 70px;
    }

    .box p {
        margin-left: 0;
    }

    footer {
        padding: 20px;
    }

    footer img {
        height: 60px;
    }
    
    .github, .phone, .email {
        margin-left: 25px;
    }
    
}
