
* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    color:#D7C7D9;
    text-align: center;
}

main {
    background-image: url(../image/LightBackgroundMobile.png);
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: #170B26;
}

.logo {
    width: 230px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: center;
    height: 185px;
    align-items: flex-end;
    font-weight: 600;
    font-size: 20px;
    flex-flow: column;

}

.navWrapper {
    background: #170B26;
    padding: 30px 20px;
    border-radius: 40px;
}

nav a {
    /* background: #170B26; */
    color: #ededed;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 40px;
}

main {
    padding: 50px 0;
    line-height: 3em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h1, h2 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #ededed;
    font-size: 40px;
}

.wrapper {
    width: 98%;
    padding: 5px 20px;
    background: #170b2630;
    border-radius: 25px;
    margin: auto;
}

.wrapper p {
    text-align: left;
    text-indent: 50px;
    font-size: 22px;
}

footer {
    clear: both;
    background: #170B26;
    padding: 60px;
    text-align: center;
}

.github {
    margin-left: 14px;
}

.navWrapper:hover, nav a:hover, #submit:hover {
    background: #F20574;
}

nav a:active, #submit:active {
    background: #730240;
}

.navWrapper:active {
    background: #170B26;
}

img.me { /*about*/
    width: 150px;
    border-radius: 75px;
}

main#banner { /*home*/
    background: linear-gradient( to top right, #f20574f4, #05f2f2ef);
    padding: 60px 0;
}

#banner h1{ /*home*/
    font-size: 80px;
    text-align: left;
    justify-content: center;
    line-height: 15px;
    display: flex;
}

#banner h1:nth-child(1) { /*home*/
    margin-right: 110px;
}

#banner h1:nth-child(2) { /*home*/
    color: white;
}

#banner h1:nth-child(3) { /*home*/
    margin-right: 50px;
}

#banner h1:nth-child(4) { /*home*/
   color: white;
    margin-left: 41px;
}

@media only screen and (min-width: 1025px) {
    main {
        background-image: url(../image/LightBackground.png);
    }
}

@media only screen and (min-width: 800px) { /* desktop */
    
    nav {
        flex-flow: row;
        justify-content: flex-end;
        height: 145px;
    }

    .logo {
        width: 175px;
    }

    nav a {
        padding: 20px 20px;
    }

    #banner h1 { /*home*/
        font-size: 115px;
    }

    #banner h1:nth-child(1) { /*home*/
        margin-right: 200px;
    }
    
    #banner h1:nth-child(2) { /*home*/
        margin-left: 130px;
    }
    
    #banner h1:nth-child(3) { /*home*/
        margin-right: 110px;
    }

    #banner h1:nth-child(4) { /*home*/
        margin-left: 200px;
    }

    .wrapper {
        width: 75%;
    }

    footer {
        padding: 30px;
    }
}
