
* {
    box-sizing: border-box;
}

:root {
    --wiggle: box .3s;
    --lightPink: #F20574;
    --darkPink: #730240;
    --lightTeal: #05F2F2;
    --darkTeal: #037F8C;
    --boxColor: #2913455d;
    --graphicWidth: 100%;
    --navFlexFlow: column;
    --navPadding: 10px 16px;
    --navJustify: center;
    --navHeight: 185px;
    --bannerOne: 110px;
    --bannerTwo: 0px;
    --bannerThree: 50px;
    --bannerFour: 41px;
    --bannerFont: 80px;
    --projectFlexFlow: column;
    --projectWidth: 85%;
    --projectBoxWidth: 100%;
    --projectBoxPadding: 5% 5% 2.5% 5%;
    --progBoxBordRad: 60px;
}

@keyframes box {
    10% {rotate: 2deg;}
    30% {rotate: 5deg;}
    40% {rotate: -2deg;}
    60% {rotate: -5deg;}
    75% {rotate: 2deg;}
    95% {rotate: -1deg;}
    100% {rotate: 0deg;}
  }

html {
    font-family: "Montserrat", sans-serif;
    color:#D7C7D9;
    text-align: center;
    font-size: 20px;
}

main {
    background-image: url(../image/BackgroundMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

header, footer {
    background: #170B26;
}

.logo {
    width: 230px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: var(--navJustify);
    height: var(--navHeight);
    align-items: flex-end;
    font-weight: 600;
    flex-flow: var(--navFlexFlow);

}

nav a {
    color: #ededed;
    text-decoration: none;
    padding: var(--navPadding);
    border-radius: 40px;
}

main {
    padding: 50px 0;
    line-height: 3em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

h1, h2 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #ededed;
    text-shadow: 3px 1px 3px #170B26;
    font-size: 40px;
}

.wrapper {
    width: 98%;
    padding: 5px 20px;
    background: var(--boxColor);
    border-radius: 65px;
    margin: auto;
}

.wrapper p {
    text-align: left;
    text-indent: 50px;
    font-size: 22px;
}

footer {
    padding: 60px;
}

.github {
    margin-left: 14px;
}

nav a:hover, .projectExamples a:hover, #submit:hover {
    background: var(--lightPink);
    animation: var(--wiggle);
}

nav a:active, .projectExamples a:active, #submit:active {
    background: var(--darkPink);
    transform: scale(0.85)
}

img.me { /*about*/
    width: 150px;
    border-radius: 75px;
}

main#banner { /*home*/
    background: linear-gradient( to top right, var(--lightPink), var(--lightTeal));
    padding: 60px 0;
}

#banner h1{ /*home*/
    text-shadow: 6px 5px 4px var(--boxColor);
    font-size: var(--bannerFont);
    text-align: left;
    justify-content: center;
    line-height: 15px;
    display: flex;
}

#banner h1:nth-child(1) { /*home*/
    margin-right: var(--bannerOne);
}

#banner h1:nth-child(2) { /*home*/
    color: white;
    margin-left: var(--bannerTwo);
}

#banner h1:nth-child(3) { /*home*/
    margin-right: var(--bannerThree);
}

#banner h1:nth-child(4) { /*home*/
   color: white;
    margin-left: var(--bannerFour);
}

.projectExamples {
    width: var(--projectWidth);
    display: flex;
    flex-flow: var(--projectFlexFlow);
    gap: 50px;
    margin: auto;
}

.projectExamples a:hover {
  transform: scale(1.15);
}

.projectExamples a:active {
  transform: scale(1);
}

.projectExamples a {
    background: linear-gradient(to top left, var(--darkTeal), var(--lightTeal), var(--darkTeal));
    border-radius: var(--progBoxBordRad);
    padding: var(--projectBoxPadding);
    margin: auto;
    display: block;
    width: var(--projectBoxWidth); 
}

.projectExamples a img {
    width: 100%;
    border-radius: 35px;
}

#infoGraphic {
    background: #313e57;
}

#infoGraphic img {
    width: var(--graphicWidth);
}

header.paper {
    padding: 40px;
    font-size: 24px;
    background: #170B26;
}

main.paper {
    display: flex;
    justify-content: center;
    background: linear-gradient( to top right, var(--lightPink), var(--lightTeal), var(--lightPink));
}

.box {
    background:#170b26b5;
    padding: 0 70px 30px 70px;
    width: 98%;
    border-radius: 65px;
}

.box p {
    text-align: left;
    text-indent: 50px;
    line-height: 1.7em;
}

footer .references {
    width: 100%;
    text-align: left;
}

.references {
    width: 70%;
    font-size: 22px;
}

.references a {
    text-decoration: none;
    font-weight: bold;
}

.references a:link {
    color: white;
}
.references a:visited {
    color: var(--lightTeal);
}
.references a:hover {
    color: var(--lightPink);
}

.references a:active {
    color: var(--darkPink);
}

@media only screen and (min-width: 1200px) {
    main {
        background-image: url(../image/Background.png);
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #infoGraphic img {
        --graphicWidth: 70%;
    }
}

@media only screen and (min-width: 800px) {
    
    nav {
        --navFlexFlow: row;
        --navPadding: 15px 20px;
        --navJustify: flex-end;
        --navHeight: 145px;
    }

    .logo {
        width: 175px;
    }

    #banner { /*home*/
        --bannerFont: 115px;
        --bannerOne: 200px;
        --bannerTwo: 130px;
        --bannerThree: 110px;
        --bannerFour: 200px;
    }

    .wrapper {
        width: 75%;
    }

    footer {
        padding: 30px;
    }

    .projectExamples {
        --projectFlexFlow: row;
        --projectWidth: 90%;
        --projectBoxWidth: 33.33%;
        --projectBoxPadding: 2% 2% .5% 2%;
        --progBoxBordRad: 50px;
    }
 
    #infoGraphic img {
        --graphicWidth: 85%;
    }
}
