
.projectExamples {
    width: 95%;
    margin: 0 auto;
}

.projectBox {
    background: linear-gradient(to top left,#fe6164, #f78ef2);
    float: left;
    margin: 9px;
    text-align: center;
    width: 31.7%;
    border-radius: 25px;
}

.projectBox h4.class {
    background:#50000d23; 
    color: #FFFFFF;
    padding: 15px;
}

.projectBox img {
    margin-bottom: 10px;
    width: 300px;
    height: 169px;
}

.projectBox a.button {
    display: block;
    width: 35%;
    margin: 10px auto;
    color: #FFFFFF;
    /*background: #00008833;*/
    background: linear-gradient(to left,#9f569b9b, #c74d4fbd);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
}

main.infoGraphic {
    background: #313e57;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main.researchPaper {
    color:#ffffff;
    background-color:#0200174c;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    width: 70%;
    border-radius: 60px;
    margin-left: 90px;
    font-family: "Exo", sans-serif;
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main.oped {
    color:#ffffff;
    background-color:#50000d23;
    line-height: 2em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    width: 70%;
    border-radius: 60px;
    margin-left: 90px;
    font-family: "Exo", sans-serif;
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main.oped p {
    text-align: left;
    text-indent: 50px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
}

main.researchPaper p {
    text-align: left;
    text-indent: 50px;
    font-family: "Roboto", sans-serif;
}

.pinkorange {
    background: linear-gradient(#fe6164, #f78ef2, #fe6164, #f78ef2, #fe6164, #f78ef2);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 15px;
}

.blueblack {
    background: linear-gradient(#14213c, #0cb9db, #300499, #0cb9db, #14213c);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 15px;
}

footer {
    clear: left;
}