* { 
    box-sizing: border-box;
  }

  main h2 {
    margin-top: 50px;
  }
  
  table { 
    justify-content: center;
    margin: auto;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.3em;
    word-spacing: 0.1em;
    padding: 2%;
  }

  td { 
      border-top: 1px solid #ededed0f; 
      padding: 3px;
  }

  #classes { 
    display: grid;
    justify-content: space-around;
    grid-gap: 25px;
  }

  #classes table {
    background: var(--boxColor);
    height: 375px;
    border-radius: 65px;
    width: 85%;
    padding: 10px 15px 10px 15px;
  }

  #accomplishments {
    background: var(--boxColor);
    margin-top: 30px;
    width: 100%;
  }

  #accomplishments table {
    max-width: 800px;
  }

@media only screen and (min-width: 525px) {
  #classes table{
    padding: 10px 30px 10px 30px;
  }

  table {
    font-size: 18.5px;
  }
}

@media only screen and (min-width: 630px) {
  #classes table{
    width: 80%;
    padding: 10px 40px 10px 40px;
  }
}

@media only screen and (min-width: 730px) {
  #classes table{
    width: 75%;
    padding: 10px 50px 10px 50px;
  }
}

@media only screen and (min-width: 850px) {
  #classes table{
    width: 70%;
    padding: 10px 70px 10px 70px;
  }
}

@media only screen and (min-width: 975px) { 
  #classes table {
    width: 65%;
    padding: 10px 90px 10px 90px;
  }

  #accomplishments {
    margin-top: 50px;
  }
}  

@media only screen and (min-width: 1178px) { /* desktop */
  #classes { 
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    grid-gap: 25px;
    padding: 15px;
  }

  #classes table {
    width: 100%;
    padding: 10px 50px 10px 50px;
    height: 400px;
  }
}