* { 
    box-sizing: border-box;
  }

  #experience {
    padding-bottom: 0;
  }
  

  #cImage {
    background-image: url(../image/C.webp);
  }

  #htmlImage {
    background-image: url(../image/HTML.png);
  }

  #booksImage {
    background-image: url(../image/books.webp);
  }

  #cImage, #htmlImage, #booksImage {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 44%;
    width: auto;
    height: 500px;
  }

  #portfolio h2 {
    font-size: 40px;
    padding: 20px;
  }

  h1, h2 {
    margin-top: 50px;
  }

  caption {
    font-size: 24px;
    color: white;
  }

  thead {
    font-size: 22px;
    color: #ededed;
  }

  tbody {
    font-size: 20px;
  }

  td { 
      border-top: 2px solid #ededed0f; 
      padding: 18px;
  }

  .tables {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
  }

  .table {
    background: #12081c;
    padding-top: 50px;
  }

  table {
    justify-content: center;
    margin: auto;
    max-width: 650px;
    word-spacing: 0.1em;
    padding: 2%;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 900px;
  }

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @media only screen and (min-width: 800px) {
    #portfolio h2 {
      font-size: 50px;
    }

    caption {
      font-size: 36px;
    }

    thead {
      font-size: 33px;
      line-height: 2.5em;
    }

    tbody {
      font-size: 26px;
      line-height: 2em;
    }
  }

