* { 
    box-sizing: border-box;
  }

  #experience {
    padding-bottom: 0;
  }

  #cImage { /* background image between tables */
    background-image: url(../image/C.webp);
  }

  #htmlImage { /* background image between tables */
    background-image: url(../image/HTML.png);
  }

  #booksImage { /* background image between tables */
    background-image: url(../image/books.webp);
  }

  #cImage, #htmlImage, #booksImage { /* background images between tables */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 44%;
    width: auto;
    height: 500px;
  }

  #portfolio h1, #portfolio h2 { /* body id */
    margin-top: 90px;
    font-size: 50px;
  }

  caption {
    font-size: 24px;
    color: white;
  }

  thead {
    font-size: 22px;
    color: #ededed;
  }

  tbody {
    font-size: 20px;
  }

  td { 
      border-top: 2px solid #ededed0f; 
      padding: 18px;
  }

  .tables { /* parent to individual table div tags */
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
  }

  .table {
    background: #12081c;
    padding-top: 50px;
  }

  table { 
    justify-content: center;
    margin: auto;
    max-width: 650px;
    word-spacing: 0.1em;
    padding: 2%;
/* table content scroll fade animation */
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 1000px;
  }

  @keyframes fade-in { /* table content scroll fade animation */
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* break point */
  @media only screen and (min-width: 800px) {
    #portfolio h2, #portfolio h1 { /* body id */
      font-size: 60px;
    }

    caption {
      font-size: 36px;
    }

    thead {
      font-size: 33px;
      line-height: 2.4em;
    }

    tbody {
      font-size: 26px;
      line-height: 1.9em;
    }
  }

