* { 
    box-sizing: border-box;
  }
  
  :root {
    --classesWidth: 85%;
    --classesPadding: 10px 15px 10px 15px;
    --classesHeight: 375px;
  }

  #experience {
    padding-bottom: 0;
  }
  

  #cImage {
    background-image: url(../image/C.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 44%;
    width: auto;
    height: 500px;
  }

  #htmlImage {
    background-image: url(../image/HTMLSmall.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 7%;
    width: auto;
    height: 500px;
  }

  #booksImage {
    background-image: url(../image/books.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
  }

  #portfolio h2 {
    font-size: 35px;
    padding: 20px;
  }

  main h2 {
    margin-top: 50px;
  }

  td { 
      border-top: 2px solid #ededed0f; 
      padding: 18px;
  }

  .tables {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    font-size: 20px;
  }

  .table {
    color: white;
    background: #12081c;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  table {
    justify-content: center;
    margin: auto;
    max-width: 650px;
    font-weight: 300;
    line-height: 1.3em;
    word-spacing: 0.1em;
    padding: 2%;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 1px;
    animation-range-end: 900px;
  }

  @keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @media only screen and (min-width: 880px) {
    #htmlImage {
      background-image: url(../image/HTMLMedium.png);
      background-position-x: 0%;
    }
  }

  @media only screen and (min-width: 800px) {
    #portfolio h2 {
      font-size: 50px;
    }

    .tables {
      font-size: 26px;
    }

    cImage {
      background-size: cover;
      background-position-x: 0%;
      width: auto;
      height: 500px;
    }

  }

  @media only screen and (min-width: 1200px) {
    #htmlImage {
      background-image: url(../image/HTML.png);
      background-position-x: 44%;
    }
  }


