$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/

/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

* {
    box-sizing: border-box;
    color: #4b4b4b;
}

body {
    margin: 0;
    width: 100vw;
}

header {
    background: #f2f2f2da;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
    height: 61px;
    #menu_toggle {
        font-size: 50px;
        margin-right: 12px;
        border: 0;
        background-color: #f2f2f2da;
        p {
            margin: 0;
            color:#878787;
        }

        @include sm {
            display: none;
        }

    }
    
    nav { 
        // Mobile styling
        position: fixed;
        @include sm {
            position: unset;
        }

        ul {
            @include sm {

                display: flex;
                flex-flow: row;
                list-style: none;
                padding-left: 0;
                margin: 0;

                a {
                    font-size: 28px;
                    font-weight: bold;
                    margin-left: 20px;
                    text-decoration: none;
                    line-height: 60px;
                    padding: 5px;
                    border-radius: 40px;
                }
                
            }

        }

        // Open
        &.open {
            background: #f2f2f2da;
            left: 0;
            top: 61px;
            padding: 24px;
            width: 219px;
            height: 100%;
            text-align: center;

            @include sm {
                width: 100%;
                padding: 0;
            }

            ul {
                list-style: none;
                display: flex;
                flex-flow: column;
                padding-left: 0;
                @include sm { 
                    display: flex;
                    flex-flow: row;
                }
                a {
                    font-size: 19px;
                    font-weight: bold;
                    margin: 0 25px 10px 0;
                    text-decoration: none;
                    line-height: 60px;
                    padding: 15px;
                    border-radius: 40px;
                }
            }
        }
        @include lt($sm) {
            right: -130px;
        }
    }
}
main {
   background: #f8f8f8;
}

#index_image_wrapper {
    position: relative;
    img {
        position: relative;
        top: 50px;
        margin-bottom: 50px;
        width: 100vw;
        height: 100%;
        @include xs { // 400px

        }
        @include sm { // 576px
        
        }
        @include md { // 768px

        }
        @include lg { // 960px
        
        }
        @include xl { // 1200px
        
        }
        @include xxl { // 1400px
        
        }
    }
    #title_wrapper {
        position: absolute;
        top: 100px;
        h1 {
            width: 100vw;
            text-align: right;
            padding-right: 40px;
            padding-top: 5px;
            font-size: 3em;
            @include xs { // 400px
                padding-right: 50px;
                padding-top: 5px;
                font-size: 3.5em;
            }
            @include sm { // 576px
                padding-right: 60px;
                padding-top: 25px;
                font-size: 4em;
            }
            @include md { // 768px
                padding-right: 90px;
                padding-top: 60px;
                font-size: 4.5em;
            }
            @include lg { // 960px
                padding-right: 130px;
                padding-top: 90px;
                font-size: 5em;
            }
            @include xl { // 1200px
                padding-top: 140px;
                font-size: 7em;
            }
            @include xxl { // 1400px
                font-size: 8em;
                padding-right: 160px;
            }
        }

    } 
}

#art_wrapper {
    display: flex;
    flex-flow: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0 100px 0;
    @include sm { // 576px
        flex-flow: row;
        flex-wrap: wrap;
    }
    .art {
        width: 75%;
        display: flex;
        justify-content: center;
        @include sm { // 576px
            width: 40%
        }
        @include md { //768px
            width: 26%;
        }
        @include xxl { // 1400px
            width: 23%; 
        }
        img {
            width: 100%;
        }
    }
}
footer {
    background: #f2f2f2da;
    padding: 40px;
    #social_media {
        display: flex;
        justify-content: center;
        gap: 20px;
        @include md { // 768px
            justify-content: flex-end;
            margin-right: 30px;
        }
        img {
            width: 40px;
            @include md { // 768px
                width: 50px;
            }
        }
    }
}
